*~
bin/*
cache
.classpath
db/*
default*.sql
.ebean*
ebean.logs/*
filecache/
*.log
logs/*
.m2classpath
matcher_data/*
.metadata/*
novi
nvhome/ebean.logs
nvhome-test/*
.project
.settings/*
.svn
*.swp
target/
target/*
thumbs.db
worldmap/.settings/org.eclipse.jdt.core.prefs
worldmap/.settings/
netview/.settings/
